<div id="sidebar">
        <a [routerLink]="['/pages/toppings']">toppings
        </a>
    <!-- <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/toppings']">
            <mat-icon class="sidenav-icon">toppings</mat-icon> {{ 'Toppings' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a>
    </mat-nav-list> -->
</div>